@use "./scss/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

.container__app {
  @include flex(center, center);

  .container__sidebar {
    background: #191718;
    width: 150px;
    height: 935px;

    .wrapper__sidebar-content {
      list-style: none;
      color: #aaaaaa;
      font-size: 16px;
    }

    .list__sidebar-content {
      list-style: none;
      display: flex;
      flex-direction: column;
    }

    .item__sidebar {
      padding: 14px 19px 14px 16px;
      border-top: 1px solid #494849;
      font-family: Roboto;
      text-decoration: none;
      &:hover {
        background-color: #5c5c5c;
        color: #fff;
      }

      &:last-child {
        border-bottom: 1px solid #494849;
      }
    }
  }

  .container__content {
    width: calc(100vw - 150px);
    height: 935px;

    .wrapper__logo {
      @include flex(center, center);
      margin-top: 20px;

      .logo {
        width: 310px;
        height: 122px;
        @include mobile {
          width: 160px;
          height: 60px;
        }
      }
    }

    .container__slogan {
      background-color: #efefef;
      height: 210px;
      margin: 0 129px;
      margin-top: 30px;
      @include flex(center, center);
      flex-direction: column;

      @include smallTablet {
        margin: 0;
        margin-top: 15px;
      }

      @include mobile {
        margin: 0;
        margin-top: 15px;
      }

      .slogan__heading {
        margin-top: 35px;
        font-family: Roboto;

        @include mobile {
          margin-top: 40px;
        }
      }

      .slogan__description {
        margin: 15px 269px 38px 269px;
        font-size: 16px;
        height: 95px;
        text-align: center;
        font-weight: 400;
        color: black;
        font-family: Roboto;

        @include mobile {
          margin: 3px 0 0 0;
          padding: 0 10px;
        }

        @include desktop {
          width: 70%;
        }

        @include tablet {
          width: 90%;
          height: 100%;
        }
        @include smallTablet {
          width: 95%;
          height: 100%;
          padding-bottom: 40px;
          margin: 0;
        }
        @include mobile {
          width: 100%;
          height: 100%;
          padding-bottom: 40px;
          font-size: 12px;
          height: auto;
        }
      }
    }
    .container__items {
      margin: 0 129px;

      @include smallTablet {
        margin: 0 30px;
      }

      @include mobile {
        margin: 0 10px;
      }

      .wrapper__item {
        @include flex(center, space-between);
        flex-wrap: wrap;

        @include desktop {
          justify-content: center;
          gap: 20px;
        }
        @include tablet {
          justify-content: center;
        }

        @include mobile {
          display: block;
        }

        .items__heading {
          width: 470px;
          height: 28px;
          color: #000;
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 18px;
          margin-top: 40px;

          @include mobile {
            font-size: 16px;
            width: 260px;
            margin-top: 20px;
          }
        }
        .wrapper__items-content {
          @include flex(center, center);
          width: 470px;
          height: 134px;

          @include mobile {
            width: 260px;
          }

          .items__icons {
            width: 128px;
            height: 128px;

            @include mobile {
              width: 80px;
              height: 80px;
            }
          }

          .items__description {
            width: 326px;
            margin-left: 16px;
            font-family: Roboto;

            @include mobile {
              font-size: 12px;
              width: 260px;
            }
          }
        }
        .items__description-bottom {
          width: 470px;
          height: 72px;
          font-family: Roboto;

          @include mobile {
            font-size: 12px;
            width: 260px;
            margin-top: 12px;
          }
        }
      }
    }
    .container__footer {
      border-top: 1px solid #dedede;
      margin-top: 182px;
      height: 79px;

      .wrapper__footer {
        width: 1510px;
        margin: 0 129px;
        @include flex(center, unset);
        height: 100%;

        .footer__text {
          color: #3e3e3e;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
